* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
 
body {
  background: #dce7ee;
  padding: 20px;
}
 
.container {
  max-width: 1000px;
  margin: auto;
  display: grid;
  gap: 10px;
}
 
 
.header {
  background: purple;
  padding: 30px;
  text-align: center;
  font-weight: bold;
}
 
.content {
  background: #56ccf2;
  padding: 30px;
  text-align: center;
  font-weight: bold;
}
 
.signup {
  background: #da0c73;
  padding: 30px;
  text-align: center;
  font-weight: bold;
  min-height: 80px;
}
 
.feature {
  padding: 30px;
  text-align: center;
  font-weight: bold;
}
 
/* ========= MOBILE =========
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1px;
    grid-template-areas:
      "header"
      "content"
      "signup"
      "feature1"
      "feature2"
      "feature3";
      gap: 10px;
  } */


 
  /* .header { grid-area: header; }
  .content { grid-area: content; }
  .signup { grid-area: signup; }
  .feature1 { grid-area: feature1; }
  .feature2 { grid-area: feature2; }
  .feature3 { grid-area: feature3; }
} */

 /* mobile  */

 .container {

    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
 }
 
/* ========= TABLET ========== */
@media (min-width: 601px) and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "content content"
      "signup feature1"
      "feature2 feature3";
  }
 
  .header { grid-area: header; }
  .content { grid-area: content; }
  .signup { grid-area: signup; }
  .feature1 { grid-area: feature1; }
  .feature2 { grid-area: feature2; }
  .feature3 { grid-area: feature3; }
}
 
/* ========= DESKTOP ========= */
@media (min-width: 901px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "feature1 feature2 feature3"
      "signup signup signup"
      "content content content";
  }
 
  .header { grid-area: header; }
  .content { grid-area: content; }
  .signup { grid-area: signup; }
  .feature1 { grid-area: feature1; }
  .feature2 { grid-area: feature2; }
  .feature3 { grid-area: feature3; }
}
 
.feature1{
  background-color: #f2c94c;
}
 
.feature2 {
  background-color: rgb(57, 6, 241);
}
 
.feature3 {
  background-color: #eb5757;
}
 